<h1>Soldiers#show</h1>

 <div class="soldier">
    <p><%= @soldier.rank%> <%= @soldier.first_name%> <%= @soldier.last_name%></p>
    <p><%= @soldier.unit %>;   Service number: <%= @soldier.service_number %></p>
    <p>Date and place of death: <%= @soldier.date_of_death %>, <%= @soldier.place_of_death %></p>
    <p>Place of burial : <%= (@soldier.cemetery == "")? "Unknown" : @soldier.cemetery %></p>
 </div>

 <%= link_to "Back", soldiers_path, class: "btn btn-lg btn-primary" %>

 <% if current_user.superuser? %>
  <%= link_to "Edit", edit_soldier_path(@soldier), class: "btn btn-lg btn-danger" %>
<%end%>


<%= content_tag('div', class: "bio-in-html") do  -%>
  <%= @soldier.bio.html_safe if @soldier.bio %>
<% end %>