<!-- MAIN  ################################################################# -->

<div class="row">
      <div class="col-md-6 col-md-offset-3 text-center center">
        <%= image_tag @picture.picture_url, alt: @picture.description, id:"picture-box", name:"#capty-caption"  %>
          <div id="capty-caption">
            <h6><%= @picture.ref %></h6>
            <p>
              <%= @picture.description %>
            </p>
          </div>
      </div><!-- text-center -->
        <%= link_to "< Back to pictures", pictures_path, class: "btn btn-sm btn-primary back-btn" %>
          <%= link_to "* Add to Favorites", pictures_path, class: "btn btn-sm btn-warning favorites-btn" %>
</div><!-- row -->

<!-- SPACER  ############################################################### -->

<div id="spacer"></div>

<!-- DISQUS  ############################################################### -->

<div class="col-md-6 col-md-offset-3">
  <%= render 'disqus/thread'%>
</div>

<!-- DISQUS SCRIPT  ######################################################## -->

<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'wearethediggers'; // required: replace example with your forum shortname
    var disqus_url = <%= pictures_path(@picture) %> ;

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>

<!-- ANIMATED CAPTION SCRIPT ############################################### -->

<script type="text/javascript">
  $(function() {
    $('#picture-box').capty({
      animation: 'fade',
      speed:    400,
      height:   300
    });
  });
</script>