
<div class="row">
  <div id="picture-wraper">
    <div class="text-center">
        <%= image_tag @picture.picture_url, id:"picture-box" %>
      <div id="desc-box" class="col-md-4 center-block" >
          <h6><%= @picture.ref %></h6>
          <p>
            <%= @picture.description %>
          </p>
        </div>
          <%= link_to "< Back to pictures", pictures_path, class: "btn btn-sm btn-primary back-btn" %>
        </div>
        <div>
          <%= link_to "* Add to Favorites", pictures_path, class: "btn btn-sm btn-warning favorites-btn" %>
        </div>
      </div>
    </div>
  </div>

<div>






