<!DOCTYPE html>
<html>

  <%= render 'layouts/head' %>

<body>

  <%= render 'layouts/navbar' %>
<% unless notice.nil? %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<% end %>

  <!-- <div class="container-fluid"> -->
    <%= yield %>
  <!-- </div> -->

  <%= javascript_include_tag 'application' %>

</body>
</html>
