<!DOCTYPE html>
<html>
<head>
  <title>Wearethediggers</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  <!-- Bootstrap -->
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>


<%= yield %>

<!-- Latest compiled and minified CSS & JS -->

</body>
</html>
